@font-face {
    font-family: "Lobster Regular";
    src: url(../font/Lobster-Regular.ttf) format("truetype");
}

body {
	font-family: "Lobster Regular";
	margin: 0px;
	padding: 0px;
	position: relative;
	zoom: 1;	
}

#rightTree {
	position: absolute;
	background-image: url(../imgs/RightBranch.svg);
	background-repeat: no-repeat;
	background-position: right top;
    width: 10%;
    height: 100%;
    min-height: 100%;
    top: 0;
    right: 0px;
    z-index: 100;
}

#leftTree {
	position: absolute;
	background-image: url(../imgs/LeftBranch.svg);
	background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#branch0 {
	position: absolute;
	background-image: url(../imgs/Branch00.svg);
	background-repeat: no-repeat;
	background-position: right top;
	display:block;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 100vh;
    z-index: 99;
}

#branch1 {
	position: absolute;
	background-image: url(../imgs/Branch01.svg);
	background-repeat: no-repeat;
	display:block;
	right: 0px;
	top: 84vh;
	width: 100%;
	height: 100vh;
    z-index: 99;
}

#branch2 {
	position: absolute;
	background-image: url(../imgs/Branch02.svg);
	background-repeat: no-repeat;
	display:block;
	right: 0px;
	top: 165vh;
	width: 100%;
	height: 100vh;
    z-index: 99;
}

#branch3 {
	position: absolute;
	background-image: url(../imgs/Branch03.svg);
	background-repeat: no-repeat;
	display:block;
	right: 0px;
	left: 0px;
	top: 254vh;
	display:block;
    width: 100%;
	height: 100vh;
    z-index: 99;
}

#branch4 {
	position: absolute;
	background-image: url(../imgs/Branch04.svg);
	background-repeat: no-repeat;
	display:block;
	right: 0px;
	top: 355vh;
	width: 100%;
	height: 100vh;
	/*padding-bottom: calc(40%);*/
    z-index: 99;
}

#directions {
	position: absolute;
	background-image: url(../imgs/Directions.svg);
	background-repeat: no-repeat;
	display:block;
	right: 2vw;
	top: 440vh;
	width: 400px;
	height: 100vh;
    z-index: 99;
}

#branch5 {
	position: absolute;
	background-image: url(../imgs/Branch05.svg);
	background-repeat: no-repeat;
	display:block;
	right: 0px;
	top: 473vh;
	width: 100%;
	height: 100vh;
    z-index: 99;
}

#branch6 {
	position: absolute;
	background-image: url(../imgs/Branch06.svg);
	background-repeat: no-repeat;
	display:block;
	right: 0px;
	top: 571vh;
	width: 100%;
	height: 100vh;
    z-index: 99;
}

#branch7 {
	position: absolute;
	background-image: url(../imgs/Branch07.svg);
	background-repeat: no-repeat;
	display:block;
	right: 0px;
	top: 683vh;
	width: 100%;
	height: 100vh;
    z-index: 99;
}


#countdown img.btn_icon {
	display: table-cell;
	vertical-align: middle;
	padding: 4px;
	float: right;
}


#countdown a li div {
	display: inline-block;
}

#countdown a li:hover > .btn_icon_wrapper {
  display: table-cell;
}

.btn_icon:hover {
	transform: scale(1.5);
}

#countdown a li .btn_icon_wrapper {
  display: none;
}


#countdown a {
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;
}

#countdown a li{
	position: relative;
	display: table;
	width: 100%;
}

.btn_icon_wrapper {
	display: table-cell;
	font-size: 200%;
	vertical-align: middle;
	line-height: 100%; 
	text-align: end;
	width: 100%;
	padding-right: 50px;
}


#menu_list {
	position: absolute;
	right: 25px;
	top: 65px;
}

#countdown {
	position: relative;
	background-image: url(../imgs/countdown.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	max-width: 100%;
	display: table;
}

#countdown_wrapper {
	display: table-cell;
    vertical-align: middle;
	vertical-align: middle;
}

#nav_menu {
	position: absolute;
	right: 48px;
	z-index: 10000;
}

#nav_menu ul {
	list-style: none;
}

#nav_menu ul a {
	margin: 4px;
	display: inline-block;
}

#countdown_text {
	font-family: "Lobster Regular";
}

#countdown img {
	display:block;
    margin:auto;
}

#countdown h1 {
	color: white;
	margin: auto;
	width: 100%;
	text-align: center;
}

#videos {
	display: flex;
	height: 100vh;
	width: 100%;
}

#wedding_photos {
	display: flex;
	height: 100vh;
	width: 100%;
}


#game {
	display: flex;
	height: 100vh;
	width: 100%;
}


#videos iframe{
	display: inline-block;
	height: 100vh;
	position:  relative;
}

#coming_soon {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: url(../imgs/comingSoon.svg);
	background-position: bottom; 
}

#coming_soon > h1 {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 100vh;
	color: white;
}

#wedding {
	background-image: url(../imgs/wedding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	max-width:100%;
	position: relative;
}

#wedding_place_url {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 101;
}

#wedding div{
	display: flex;
}

#wedding div h1 {
	color: white;
	width: 33%;
	text-align: center;
}

#location {
	display: inline-block;
	height: 100vh;
	width: 100%;
}

#location iframe{
	display: block;
	height: 100%;
	width: 100%;
}

#invite_list {
	background: #9C27B0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	max-width:100%;
	min-height: 100vh;
}

#invite_list h1 {
	padding: 24px;
	color: white;
	margin: 0px;
}

#list_wrapper {
	width: 100%;
	display: flex;
}

#list_wrapper div {
	width: 50%;
	min-height: 100px;
	background-color: #2196F3;
}

#list_wrapper div:last-child {
	width: 50%;
	min-height: 100px;
	background-color: #F44336;
}

#honeymoon {
	background-image: url(../imgs/honeymoon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	max-width:100%;
	position: relative;
}

#honeymoon_place_url {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 101;
}

#honeymoon h1 {
	padding: 24px;
	color: white;
	margin: 0px;
}

#photos {
	display: inline-block;
	height: 100vh;
	width: 100%;
}

#photos iframe {
	display: block;
	height: 100%;
	width: 100%;
}

#see_you_there {
	background-image: url(../imgs/Cya.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	max-width:100%;
	display: table;
}

#see_you_there_wrapper {
	color: white;
	margin: auto;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: rgba(0,0,0,0.7);
}

#backToTopBtn {
	position: absolute;
	bottom: 0px;
	right: 25%;
}

#backToTopBtn a{
	position: absolute;
	bottom: 22%;
	right: 26%;
	z-index: 100000;
	transform: scale(1.1);
}
#backToTopBtn a:hover {
	transform: scale(1.3);
}